<div class="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Scraping With Mongoose</h1>
            <p class="lead"><button id="scrape" class="btn btn-light">scrape</button>
                to gather data from <a href="https://www.propublica.org/" target="_blank">ProPublica</a>! You can also
                select an article and make a comment on it, which will
                be saved!</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{#each articles}}
                {{> articles/articleElement}}
                {{/each}}
            </div>
            <div class="col-md-4">
                <div class="commentBox">
                    <p id="articleComment">Article Note will go here</p>
                    <input placeholder="make a comment" type="text" id="comment">
                    <button id="submit">Comment</button>
                    <button id="delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>