<button id="scrape">scrape</button>

{{#each articles}}
{{> articles/articleElement}}
{{/each}}

<div class="commentBox">
    <input type="text" id="comment">
    <button id="submit">Comment</button>
</div>

